body
{
	min-width: 320px;
	font-size: 14px;
	font-family: 'Playfair Display';
	color: #626262;
	height: 2000px;
}
header
{
	position: fixed;
	width: 100%;
	padding: 0;
	margin: 0;
	.nav-item
	{
		text-transform: uppercase;
		margin-left: 50px;
		margin-right: 50px;
	}
	.nav-item a::after{
		content: '';
		display: block;
		width: 100%;
		background-color: #ccc;
		height: 1px;
		transform: scale(0);
		transition: all .3s;
	}
	.nav-item a:hover::after
	{
		transform: scale(1);
	}
}
.content
{
	padding: 100px;
}